/*
Global stílar
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: #222222;
}

a {
  color: #222222;
}

h2, h4 {
  font-family: 'Poppins'
}
h1{
  width: 356px;
  height: 80px;
  left: 0px;
  top: 24px;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 80px;

  display: flex;
  align-items: flex-end;

  color: #000000
}

h3{
  font-family: Playfair Display;
  font-weight: bold;
}

h4{
  font-family: Poppins;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;

  color: #9B9B9B
}
.hero__kicker{
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;

  color: #E3CDB1
}
/*
Header
*/
header {
  margin-bottom: 2rem;
  height: 100px;
  max-width: 1290px;
  margin: 0 auto;
  width: 100%;
  padding-top: 30px;
  display: flex;
  background-attachment: fixed;
  justify-content: space-between;
}
.righttext{
  width: 224px;
  height: 23px;
  left: 1066px;
  top: 8px;
  display: flex;
  justify-content: space-around;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;

  align-items: flex-end;
}

.topline{
  justify-content: space-between;
}

.righttext2{
  width: 250px;
  height: 50px;
  left: 1066px;
  top: 8px;
  display: flex;
  justify-content: space-between;

  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;

  align-items: flex-end;
  margin-left: auto;
  padding-bottom: 50px;
}*/


header .content {
  margin: auto;
  width: 100%;

}

header h1 {
  font-size: 6vmax;
}

header h2 {
  font-size: 3vmax;
}

/*
Meginmál
*/

main {
  padding-left: 10px;
  padding-right: 10px;
}

/* books */

.books {
  margin-bottom: -1rem;
}

.books .col {
  margin-bottom: 2rem;
}

.book {
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  min-width: 160px;

  display: flex;
  flex-direction: column;
}

.book > .content {
  padding: 0.5rem;
  border-top: 0;

  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book .image {
  height: 200px;
  overflow: hidden;
}

.book .image img {
  object-fit: cover;
  width: 100%;
  height: 200px;

  transition: transform 300ms ease-in-out ;
}

.book:hover .image img {
  transform: scale(1.3);
}

.book h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.book h4 {
  font-size: 0.875rem;
  font-weight: normal;
  text-transform: uppercase;
}

.book .buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E3CDB1;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;

}

.book .buy .price {
  margin-right: 0.5rem;
}

.subsection{
  background-image: url(img/Background.png);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  display: flex;
}
.Subscribe{
  margin-bottom: 2rem;

  width: 100%;
  height: 339px;

  display: flex;




}
.crave{
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  color: #E3CDB1
}

.socials{
  text-align: center;
  padding-bottom: 20px;
}

.fa{
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius:50%;
  border: 1px solid;
  background: white;
  color: #e3cdb1;
}

.joinus{
  text-align: center;
  padding-bottom: 20px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  padding-top: 45px;
}
.compurl{
  font-family: Poppins;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.29px;
  text-align: center;
  padding-bottom: 100px;
  color: #D0D0D0
}
button{
  background-color: black;
  color: #E3CDB1;
  font-size: 16px;
  font-family: Poppins;
  font-weight: bold;
  width: auto;
  border: 1px solid #E3CDB1;
  padding: 10px;

}
label{
  font-family: Poppins;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff
}
.sub{
  width: 565px;
  height: 53px;
  top: 26px;

  font-family: Playfair Display;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 53.32px;

  color: #FFFFFF


}

.seemore{
  box-sizing: border-box;
  border: 1px solid #E3CDB1;
  padding-bottom: 13px;
  width: 20%;
  margin: auto;
}
.boxtext{
  text-align:center;
  padding-top: 13px;
  font-family: Poppins;
  color: #E3CDB1;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}
.Subgroup{
  margin: auto;
}
fieldset{
  height:109%;
  border: 0px;

}
.email1{
  padding-bottom:5px;
  padding-top: 18%;
}
.buttonflex{
  padding-left: 415px;

}
#emailad{
  background-color: black;
  font-family: Playfair Display;
  font-size: 22px;
  line-height: 29.33px;
}
#emailad2{
  background-color: black;
  font-family: Playfair Display;
  font-size: 22px;
  line-height: 29.33px;
  font-weight: bold;
}

