* {

}
.body{

}
header{
    height: 100px;
    max-width: 1290px;
    margin: 0 auto;
    
    background-attachment: fixed;
    display: flex;
    align-items: flex-end;
    height: 1 rem;
    width: 100%;
    justify-content: space-between;
    background-color: #FAFAFA;
}

.righttext{
    
    width: 224px;
    height: 23px;
    left: 1066px;
    top: 8px;
    display: flex;
    justify-content: space-around;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    
    align-items: flex-end;

    color: #9B9B9B;
}

.botn{
    background-color:#000000;
    width:1600px;
    height:339px;

}

.toppur{
    width: 1600px;
    height: 800px;
    background-color: #FAFAFA;
}



/* hero */

.hero {
    margin-top: 150px;
    min-height: 600px;
    background-image: url(img/cake.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #FAFAFA;
}

.hero__grid {
    max-width: 1290px;
    margin: 0 auto;
}

.hero__content {
    width: 50%;
}

.hero__title{
    
    width: 356px;
    height: 80px;
    left: 0px;
    top: 24px;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;

    color: #000000;
}

.hero__text{
    width: 550px;
    height: 128px;
    left: 2px;
    top: 125px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */

    display: flex;
    align-items: center;

    color: #5E5B69;
}

.hero__kicker:first-word{
    font-weight: bold;

}

.hero__kicker{
    font-family: Poppins;
    font-style: normal;
    color: #5E5B69;
    margin-bottom:40px;


}

.method-grid{
  margin-left:220px; 
  
  margin-right:150px;

}

.flexari{
    align-items: top;
    display: flex;
    justify-content: space-between;
    margin-top:80px;
}

.Ingredients-grid{
    margin-left:150px;
}

.method-title{
    font-family: Poppins;
    color: #D0D0D0;
    font-size: 40px;
    font-weight: bold;
}

.method-text{
    font-family: Poppins;
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;

}
.Ingredients-title{
    font-family: Poppins;
    font-size: 18px;
    line-height: 17px;
    color: #000000;
    font-weight: normal;
    font-style: normal;


}

.flexin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:1600px;
    height:339px;

}

.subgroup{
    margin-left:110px;

}

.subscribe{
    color:#FFFFFF;
    font-family: Playfair-Display;
    font-size: 40px;
    
}

.socials{
    text-align: center;
    padding-bottom: 20px;

}
.subbutton{
    border: 1px solid #E3CDB1;
    font-family: Poppins;
    margin-right: 200px;


}

.cravin_kicker{
    color:#E3CDB1;
    font-size: 16px;
    display:flex;
    align-items:flex-end;
    font-family: Poppins;


}
.craving_email{
    font-family: Poppins;
    color: #FFFFFF;
    font-size: 14px;
}

.vid__socials{
    background: #f2f2f2f2;
  }
  
  .face{
    position: absolute;
    left: 720px;
    top: 2910px;
    bottom: 360px;
  
  
  }
  .bird{
    position: absolute;
    left: 792.08px;
    top: 2910px;
    bottom: 360px;
  
  }
  .yout{
    position: absolute;
    left: 851.46px;
    top: 2910px;
  }
  
  .www{
    position: absolute;
  left: 754px;
  top: 2940px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  
  
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.291667px;
  
  color: #D0D0D0;
  
  }

